body{
  background-color: grey;
}
.bigger{
  background-color: white;
  border:2px solid black;
  margin-top:100px;
  padding-left: 20px;
  font-size: large;
  color: black;
  width: 100%;
  height: 550px;
}
div.in{
  float: left;
  width:600px;
  height: 400px;
  margin-left: 25px;
  padding-left: 50px;
  padding-top: 100px;
}
button{
  font-size: large;
  color: black;
}
button:hover{
  background-color: blue;
  color:white
}
div.in div.out img {
  position: absolute;
  left: 850px;
  bottom: 150px;
}

